@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left: 4%;
}

div#formcol1 {
	float: left;
	width: 100%;
}



/* end of form css */



#formcol1 label {
	margin-right: .3em;
	width: 6.3em;
	display: inline-block;
	text-align: right;
}

#formcol1 li {
	list-style: none;
	margin-bottom: 0.5em;
}

#multchoice span {
	margin-right: 1.5em;
}

select:focus,
select:active,
input:focus,
input:active,
input:focus+label,
input:active+label,
label[for]:focus,
label[for]:active {
	color: #000000 !important;
	background-color: #d9e5f2 !important;
}

#formcol1 input.reqfield {
	background: #FF9;
}